#!/usr/bin/env bash

# Generate ansible private key pair
if [ ! -f ${HOME}/keys/aws-kp-ecdsa ]; then
    mkdir ${HOME}/keys
    ssh-keygen -t ed25519 -N "" -m pem -f ${HOME}/keys/aws-kp-ecdsa
fi

# Set ansible private key
export ANSIBLE_PRIVATE_KEY_FILE=${HOME}/keys/aws-kp-ecdsa

# Set ansible inventory configuration
export ANSIBLE_INVENTORY=$(pwd)/inventory.aws_ec2.yaml