#!/usr/bin/env bash

# Generate ansible private key pair
if [ ! -f /opt/keys/aws-kp-ecdsa ]; then
    mkdir /opt/keys
    ssh-keygen -t ed25519 -N "" -m pem -f /opt/keys/aws-kp-ecdsa
fi

# Set ansible private key
export ANSIBLE_PRIVATE_KEY_FILE=/opt/keys/aws-kp-ecdsa

# Set ansible inventory configuration
ANSIBLE_INVENTORY=$(pwd)/ansible/inventory.aws_ec2.yaml
export ANSIBLE_INVENTORY